.services-card-container {
  width: 56px;
  height: 56px;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: rgba(182, 71, 47, 0.1);
}
.services-card-image {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 69px;
  height: 100%;
  margin: auto;
  position: absolute;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  object-fit: contain;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
}
.services-card-text {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.services-card-text1 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.services-card-root-class-name {
  flex: 1;
  align-self: stretch;
}
